/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


/****** body***********/
html body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

/****** header ***********/
.header_container {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.logo_travel_agency {
    width: 61px;
    height: 19px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    gap: 30px;
}

.anchor_accommodations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    border-top:2px solid #F2F2F2
}

.anchor_activities {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    border-top:2px solid #F2F2F2
}

.anchor_accommodations:hover {
    margin-top: 0px;
    border-top:2px solid #0065FC
}

.anchor_activities:hover {
    border-top:2px solid #0065FC
}

.tiltle_and_subtitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: flex-start;
    margin-top: 70px;
    margin-bottom: 10px;
}

.header_title {
    font-size: 26px;
    margin: 0;
}

.header_subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    margin-top: 10px;
    margin-bottom: 50px;
}


/******barre de recherche ***********/
.search_bar {
    display: flex;
    align-self: flex-start;
    padding: 0 50px;
    border-radius: 15px;    
}

.search_bar .fa-solid.fa-location-dot {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    color: black;
}

.search_bar input {
    display: flex;
    width: 75%;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    border: none;
    padding-left: 10px;
}

.search_bar input:focus {
    outline: none;
    box-shadow: 0 0 3px #0065FC;
}

.search_bar button {
    border: none;
    background-color: #0065FC;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    width: 35%;
    border-radius: 0px 15px 15px 0px;
}

.search_bar button:hover {
    border: 2px solid #DEEBFF;
}

/****** /filtres ***********/
.filters {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 30px;
    box-sizing: border-box;
}

.label_and_filters {
    display: flex;
}

.filters_label {  
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.element_filters .fa-solid {
    padding-right: 10px;
    width: 22px;
    height: 22px;
}

.filters_container {
    display: flex;
}

.first_group_filters {
    display: flex;
}

.second_group_filters {
    display: flex;
}

.element_filters {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    width: 167px;
    height: 50px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: left;
    gap: 10px;
}

.filters button {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: white;
    border: none;
}

.element_filters:hover {
    background-color: #DEEBFF;
}

.filters button:hover {
    background-color: #DEEBFF; 
}

.filters button:focus {
    background-color: #DEEBFF; 
}

.info_bar {
    display: flex;
    margin-bottom: 50px;
}

.fa-info {
    padding-right: 20px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    border-color: #818080;
}


/****** main ***********/
.main_container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

.section_title {
    margin: 0;
    font-size: 22px;
}

.card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card_title {
    font-size: 16px;
}

.card_subtitle {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutral_star {
    color: var(--main-bg-color)
}


/****** main/Hebergements And Populaires ***********/
.hebergements_and_populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements_and_populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** main/Hebergements ***********/
.hebergements {
    display: flex;
    justify-content: space-between;
    width: 65%;
    gap: 50px;
    flex-direction: column;
}

.hebergements a {
    width: 100%;
    height: 100%;
}

.cards_hosting_1st_line, .cards_hosting_2nd_line {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
}


.hebergements .card_content {
    width: 250px;
    height: 64px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 8px;
}

.hebergements img {
    width: 100%;
    height: 130px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;    
}

.hebergements .card_txt {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 50%;
    gap: 8px;
}

.hebergements .card_title {
    font-weight: 700;
    padding: 0;
    margin: 0;
}



.hebergements .card_rating {
    display: flex;    
}


/****** main/Populaires ***********/
.populaires {
    width: 32%;
}

.populaires_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires_cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires_cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires_cards .card_content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires_cards .card_title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires_cards .card_subtitle {
    margin: 0;
}

.populaires_cards .card_rating {
    margin-bottom: 5px;
}


/****** main/activités ***********/
.activity_in_marseille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    margin-top: 50px;
    align-items: flex-start;
    width: 1340px;
    height: 559px;
    gap: 40px;
}


.cards_activity {
    display: flex;
    gap: 30px;
    align-items: center;
}

.cards_activity .card {
    display: flex;
    flex-direction: column;
    width: 297.5px;
    height: 439px;
    padding: 0;
}

.cards_activity img {
    
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.cards_activity h3 {
    padding-left: 15px;
}


/****** footer ***********/
.footer {
    display: flex;
    width: 1340px;
    height: 163px;
    background-color: #F2F2F2;
    gap: 10em;
    padding: 20px;
}

.footer_section {
    display: flex;
    flex-direction: column;
    gap: 15px; ;
}

.footer a {
    font-size: 16px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements_and_populaires {
        flex-direction: column;
        gap: 1em;
    }

    .cards_hosting_1st_line {
        display: flex;
        flex-direction: column;
    }

    .cards_hosting_2nd_line {
        display: flex;
        flex-direction: column;   
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        display: flex;
        width: 100%;
        margin-top: 50px;
        flex-direction: column;
    }

    .populaires_cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires_cards .card {
        flex-direction: column;
        width: 100%;
    }

    .populaires_cards .card_content {
        display: flex;
        flex-direction: column;
    }

    .populaires_cards a {
        width: auto;
    }

}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

/****** header ***********/
    .header_container{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px ;
    }

    .menu {
        justify-content: space-between;
        width: 100%;
        gap: 10px;  
    }

    .anchor_accommodations {
        display: flex;
        justify-content: center;
    }

    .anchor_activities {
        display: flex;
        justify-content: center;
    }

    .main_container {
        padding: 0 0;  
    }

    .tiltle_and_subtitle {
        width: 100%;
        padding: 0 0ox;
    }

    .header_title {
        font-size: 22px;
    }

    .header_subtitle {
        font-size: 16px;
    }


/******barre de recherche ***********/
    .search_bar {
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 49px;
        padding-left: 50px;
    }

    .fa-solid.fa-location-dot {
        width: 20%;
    }

    .search_bar button {
        width: 20%;
        border-radius: 20px;
    }


/****** /filtres ***********/
    .filters {
        width: 100%;
        padding: 0 0px;
        padding-left: 50px;
    }

    .label_and_filters {
        flex-direction: column;
        gap: 20px;
    }

    .filters_label {
        justify-content: flex-start;
    }

    .filters_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .first-group_filters {
        display: flex;
        gap: 10px;
    }

    .second_group_filters {
        display: flex;
        gap: 10px;
    }

    .info_bar p {
        font-size: 16px;
        margin-top: 30px;
    }


/****** main/Hebergements And Populaires ***********/
    .hebergements_and_populaires section {
        display: flex;
        justify-content: center;
        padding: 20px;
        border-radius: 0;
    }

    .hebergements_and_populaires {
        flex-direction: column-reverse;
        width: 100%;
        border-radius: 0px;
        padding: 0;
    }

    .neutral_star {
        color: #F2F2F2;
    }


/****** main/Hebergements ***********/
    .hebergements {
        width: 100%;
        --main-bg-color: none;
        padding: 0;
    }

    .hebergements_title .section_title {
        font-size: 22px;
        padding-left: 20px;
    }

    .cards_hosting_1st_line {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .cards_hosting_2nd_line {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .hebergements img{
        height: 100px;
    }

    .hebergements .card_txt {
        gap: 4px;
    }

    .hebergements .card_rating {
        margin: -2px;
        padding: -2px;
    }

/****** main/Populaires ***********/ 
    .populaires {
        display: flex;
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        padding: 0;
        border-radius: 0;
    }

    .populaires_title {
        font-size: 22px;
        padding-left: 20px;
    }

    .populaires_cards {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

   .populaires .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    }


/****** main/activités ***********/
    .activity_in_marseille {
        margin-top: 30px;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .cards_activity {
        flex-direction: column;
        width: 100%;
    }

    .cards_activity .card {
        height: 207px;
    }

    .cards_activity img {
        width: 100%;
        height: 150px;
    }


/****** footer ***********/
    .footer_container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

    }

    .footer {
        flex-direction: column;
        width: 100%;
        gap: 1em;
        height: auto;
        box-sizing: border-box;
    }

}